

{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="mb-4">Магазины</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4" id="shopsContainer" data-next-page="2" data-location="{{ location_id }}">
        {% include 'pages/_shop_cards.html' %}
    </div>

    {% if page_obj.has_next %}
        <div id="scrollTrigger" class="text-center py-4">
            <div class="spinner-border text-secondary" role="status"></div>
        </div>
    {% endif %}
{% endblock %}